uvicorn==0.21.1
fastapi==0.95.0
pydantic==1.10.6
torch==2.1.0
torchvision==0.16.0
opencv-python-headless==4.8.1.78
opencv-python==4.7.0.72
numpy==1.24.2
pymilvus==2.2.11
sklearn==0.0
python-multipart==0.0.6
